#services-list{
    padding-top: 40px;
    padding-bottom: 50px;

    .img-container{
        width: 100%;
        height: 320px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 20px auto 0 auto;
    }

    @each $service in repair, review, logistic, installation, startup, maintenance{
        .#{$service} {
            background-image: url('../images/services/list/#{$service}.jpg');
            max-width: 100%;
        }
    }

    .head-container{
        position: absolute;
        height: 60px;
        width: 80%;
        right: 0;
        left: 0;
        margin: 0 auto;
        top: 282px;
        background-color: #ffffff;
        text-align: center;
        padding-top: 20px;

        &:after{
            position: absolute;
            height: 1px;
            width: 30px; 
            background: $dark-color; 
            content: '';
            right: 0;
            left: 0;
            bottom: 28px;
            margin: 0 auto;
        }

        img{
            padding-left: 25px;
        }
        span{
            padding-right: 25px;
            
            font-size: 20px;
            line-height: 24px;
            color: $dark-color;
        }
        h4{
            font-family: din-regular;
            font-size: 20px;
            line-height: 24px;
            color: #0D7EC7;
            padding-top: 10px;
            font-weight: bold;
        }
    }

    .list-container{
        width: 100%;
        padding-top: 50px;

        ul{
            list-style: none; 
            margin: 0;
            padding: 0;
            @media only screen and (max-width: 991.9px) {
                padding-bottom: 20px;
            }
        }

        li{
            font-family: din-regular;
            font-size: 14px;
            line-height: 29px;
            color: $dark-color;
            border-bottom: 1px solid #dddddd;

            &:before{
                content: '✓';
                padding-right: 5px;
                color: #0D7EC7;
            }

            &:last-of-type{
                border: none;
            }
        }
    }

    .second-row{
        @media only screen and (min-width: 992px) {
            padding-top: 50px;
        }
    }
}