.open{
    background-color: $dark-blue-color!important; 
    height: 100%;
}

header{
    font-family: 'Red Hat Display', sans-serif;
    padding-top: 20px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
    font-size: 24px;
    font-weight: 900;
    transition: .3s;

    @media only screen and (max-width: 767.99px){
        overflow: auto;
    }
    @media only screen and (min-width: 992px) {
        font-size: 12px;
        font-weight: bold;
    }

    .navbar-nav{
        @media only screen and (max-width: 991.99px) {
            margin-right: auto;
            text-align: left;
        }
        @media only screen and (min-width: 992px) {
            margin-left: auto;
        }

        .nav-item{
            padding-top: 50px;

            @media only screen and (min-width: 992px) {
                margin-right: 40px;
                padding-top: 0;
                letter-spacing: 0.18em;
            }
            .nav-link{
                color: #ffffff;
                &:focus{
                    color: #ffffff;
                }
            }
        }
        .dropdown{
            margin-right: 0;
            .dropdown-toggle{
                @media only screen and (max-width: 991.99px){
                    font-size: 14px;
                    font-weight: 500;
                    padding: 10px 0px 10px 15px;
                    border: 1px solid rgba(255, 255, 255, .2);
                    border-radius: 2px;
                    &::after{
                        position: absolute;
                        right: 10px;
                        top: 70px;
                    }
                }
            }
            #navbarDropdown{
                @media only screen and (max-width: 991.99px){
                    &:focus, &:hover{
                        color: #ffffff;
                    }
                }
            }
            span.dropdown-item{
                cursor: pointer;
            }
        }
    }

    // Class for mobile open nav
    .white-fill{
        fill: #ffffff;
    }

    // Navbar toggles classes
    #nav-icon {
        width: 36px;
        height: 36px;
        position: relative;
        border-radius: 50%;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
        background: #FFFFFF; 
        z-index: 9999;
    }   
    #nav-icon span {
        display: block;
        position: absolute;
        height: 2px;
        width: 16px;
        background: #0D7EC7;
        border-radius: 9px;
        opacity: 1;
        left: 10px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }
    .navbar-toggler{
        border: none;
        padding: 0;

        &:focus{
            outline: none;
        }
    }
    #nav-icon span:nth-child(1) {
        top: 12.6px;
    }
    #nav-icon span:nth-child(2),#nav-icon span:nth-child(3) {
        top: 16.6px;
    }
    #nav-icon span:nth-child(4) {
        top: 20.6px;
    }
    .navbar-toggler[aria-expanded="true"] #nav-icon span:nth-child(1) {
        top: 18px;
        width: 0%;
        left: 50%;
    }
    .navbar-toggler[aria-expanded="true"] #nav-icon span:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .navbar-toggler[aria-expanded="true"] #nav-icon span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    .navbar-toggler[aria-expanded="true"] #nav-icon span:nth-child(4) {
        top: 18px;
        width: 0%;
        left: 50%;
    }
}

.scrolled{
    @media only screen and (min-width: 992px) {
        top: -100px;
    }
}